* {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: #181818;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  scroll-behavior: smooth;
  /* Hide scrollbar */
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* div {
  border: black solid 1px;
} */
